# Filhantering 1 - .txt-filer 
- läs in fil och skriv ut texten

In [2]:
with open("Stora forskare.txt", "r") as f1:
    for rad in f1:
        print(rad)

Isaac Newton 1643-01-04

         Gallileo Gallilei 1564-02-15

Leonhard Euler 1707-04-15

Albert Einstein 1879-03-14

     Carl Friedrich Gauss 1799-04-30

Stephen Hawking 1942-01-08

# Hitta alla födda före 1800-talet

In [4]:
före1800 = []

with open("Stora forskare.txt", "r") as f1:
    for rad in f1:
        # tar bort blanksteg och radbrytningar i början och slutet av varje rad
        rad = rad.strip(" \n")
        print(rad)

        # plocka ut året och typomvandla till int
        år = int(rad[-10:-6])
        #checka om året < 1800, lägg till i en lista
        if år < 1800:
            före1800.append(rad[0:-11])
print(före1800)

Isaac Newton 1643-01-04
Gallileo Gallilei 1564-02-15
Leonhard Euler 1707-04-15
Albert Einstein 1879-03-14
Carl Friedrich Gauss 1799-04-30
Stephen Hawking 1942-01-08
['Isaac Newton', 'Gallileo Gallilei', 'Leonhard Euler', 'Carl Friedrich Gauss']

# Skriva till fil

In [6]:
with open("Stora forskare.txt", "r") as f1, open("Stora forskare 2.txt","w") as f2:
    for rad in f1:
        rad = rad.strip(" ") #removes trailing and leading spaces
        f2.write(rad)
    
    f2.write("Andrew Wiles 1953-04-11\n")

In [4]:
with open("Stora forskare 2.txt", "w") as f1: #Skriver över gamla filen
    f1.write("Marie Curie 1867-11-07\n")

In [5]:
with open("Stora forskare 2.txt", "a") as f1: #Option "a" står för append, lägger till i slutet
    f1.write("Pierre Curie 1859-05-15\n")

## Typomvandlingar mm

- en txt-fil kan endast acceptera strängar och inte tal

In [10]:
tallista = [i for i in range(10)]

print(tallista)

with open("tal.txt", "w") as f:
    # f.write(tallista) går ej att lägga in en lista
    for tal in tallista:
        f.write(f"{tal} ")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]